<div class="card-list-container py-5">
  <% photo_images.each do |photo_image| %>
  <div class="card card-width mx-auto mt-4 shadow-lg">
    <%= link_to photo_image_path(photo_image.id) do %>
      <%= attachment_image_tag photo_image, :image, class:"card-img-top"; %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= attachment_image_tag photo_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class:"mt-3 rounded-circle" %>
        </div>
        <div class="col-10">
          <p class="card-title">
             <%= link_to photo_image_path(photo_image.id), class:"text-dark" do %>
              <strong><i class="fas fa-file-signature"></i><span> <%= photo_image.name %></span></strong>
            <% end %>
          </p>
          <p class="card-text"><strong><i class="fas fa-feather-alt"></i><%= photo_image.caption %></strong></p>
          <div class="card-count">
            <span><i class="fas fa-user"></i> <%= photo_image.user.name %> | </span>
            <!--idを用いる（1ビュー内で同名のidは存在してはいけないため）-->
            <span id="photo_image_<%= photo_image.id %>">
              <%= render "favorites/favorite-btn", photo_image: photo_image %>
            </span>
            <!--クラス名を一意性があるものにする-->
            <span class="comments-count"> | <i class="far fa-comment-alt"></i><%= photo_image.comments.count %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
    <%= paginate photo_images %>
</div>



<div class="row ranking">
  <% all_ranks.each do |rank| %>
    <div class="col-md-4 mb-3">
      <div class="card shadow-lg ranking-no">
        <%= attachment_image_tag rank, :image, class: "card-img-top img-fluid" %>
        <p class="card-title">
          <%= link_to photo_image_path(rank.id), class:"text-dark" do %>
            <strong><i class="fas fa-file-signature"></i><span> <%= rank.name %></span></strong>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>
