 <%= form_with model: photo_image, local:true do |f| %>
    <%= f.attachment_field :image %>
    <div class="input-group mb-3 mt-4">
      <div class="input-group-prepend">
        <span class="input-group-text" aria-hidden="true"><i class="fas fa-camera-retro"></i></span>
      </div>
      <%= f.text_field :name,class:"form-control", placeholder:"写真名" %>
    </div>
      <%= f.text_area :caption, class:"form-control", rows:3, placeholder:"写真の説明するならここ" %>
      <hr>
      <%= f.submit '投稿',class: "btn btn-lg btn-block btn-info mt-4" %>
  <% end %>