<div class="container">
  <div style= "text-align: center;">
    <%= attachment_image_tag @photo_image, :image, class:"card-img-top"; %>
        <p>写真名：<%= @photo_image.name %></p>
        <p>説明：<%= @photo_image.caption %></p>
        <p>ユーザーネーム：<%= @photo_image.user.name %></p>
        <p>投稿日時：<%= @photo_image.created_at.strftime('%Y/%m/%d') %></p>
        <% if @photo_image.user == current_user %>
          <%= link_to "編集", edit_photo_image_path(@photo_image), class: "btn btn-sm btn-success" %>
          <%= link_to "削除", photo_image_path(@photo_image), class: "btn btn-sm btn-danger", method: :delete %>
        <% end %>
      </div>
    </div>

  <div style= "text-align: center;">
    <!--idを用いる（1ビュー内で同名のidは存在してはいけないため）-->
    <p id="photo_image_<%= @photo_image.id %>">

      <!--クラス名を一意性があるものにする-->
    <p class="favorite-btn"><%= render "favorites/favorite-btn", photo_image: @photo_image %></p>
    <p class="comments-count">コメント数: <%= @photo_image.comments.count %></p>
  </div>
  <div class="comments">
        <%= render 'comments/index', photo_image: @photo_image %>
  </div>
  <div style= "text-align: center;">
    <%= form_with(model:[@photo_image, @comment]) do |f| %>
      <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
      <%= f.submit "コメントする" %>
    <% end %>
  </div>
</div>