<div class="container">
  <div style= "text-align: left;">
    <p class= "photo_image">
      <%= attachment_image_tag @photo_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class:"mt-3 rounded-circle" %>
      <%= @photo_image.user.name %><br>
      <%= @photo_image.created_at.strftime('%Y/%m/%d') %><br>
      <i class="fas fa-image"></i><%= @photo_image.name %><br>
      <i class="fas fa-feather-alt"></i><%= @photo_image.caption %><br>
      <% @photo_image.tags.each do |tag| %>
          <i class="fas fa-tag"></i>
          <%= link_to tag_path(tag) do %>
          <% tag.name %>
          <% end %>
      <% end %><br>
      <% if @photo_image.user == current_user %>
      <%= link_to "編集", edit_photo_image_path(@photo_image), class: "btn btn-sm btn-success" %>
      <%= link_to "削除", photo_image_path(@photo_image), class: "btn btn-sm btn-danger", method: :delete %>
      <% end %>
      <%= attachment_image_tag @photo_image, :image, class:"card-img-top"; %>
    </p>
    <table class="table">
      <tbody>
        <tr>
          <!--idを用いる（1ビュー内で同名のidは存在してはいけないため）-->
          <!--クラス名を一意性があるものにする-->
          <td id="photo_image_<%= @photo_image.id %>" class="favorite-btn"><%= render "favorites/favorite-btn", photo_image: @photo_image %></td>
          <td class="comments-count"><i class="far fa-comment-alt"></i>コメント数: <%= @photo_image.comments.count %></td>
          <td class="impressionist_count"><i class="fas fa-eye"></i>閲覧数: <%= @photo_image.impressionist_count %></td>
        </tr>
      </tbody>
    </table>
    <div class="comments">
      <%= render 'comments/index', photo_image: @photo_image %>
    </div>
    <div id="comments_error">
    <%= render 'layouts/errors', model: @comment %>
    </div>
    <!--コメント欄-->
    <div style= "text-align: left;">
      <%= form_with(model:[@photo_image, @comment]) do |f| %>
        <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
        <%= f.submit "コメントする", class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
</div>
