<div id="container">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>
<div class="container">
  <div style="text-align: center;">
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: "jpg", fallback: "no_image.jpg", class: "rounded-circle" %>
    <h3><b><%= @user.name %></b></h3>
      <% if @user.id == current_user.id && @user.name != "guestuser" %>
        <p><i class="fas fa-edit"></i><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
      <% end %>
      <p>
        follows
        <%= link_to @user.followings.count, user_followings_path(@user) %>
        followers
        <%= link_to @user.followers.count, user_followers_path(@user) %>
      </p>
      <p>
        <% if current_user != @user %>
          <%= link_to 'Chatする', chat_path(@user.id), class: "btn btn-primary" %>
        <% end %>
      </p>
      <p>
        <% if user_signed_in? && @user.id == current_user.id %>
          <%= link_to "退会", users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
        <% end %>
      </p>
  </div>
</div>
<div class="container">
  <div style="text-align: center;">
    <%= render partial: 'photo_images/each', locals: {photo_images: @photo_images, all_ranks: @all_ranks} %>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    $("#theTarget").skippr({
      transition : 'slide',
      speed : 1000,
      easing : 'easeOutQuart',
      navType : 'block',
      childrenElementType : 'div',
      arrows : true,
      autoPlay : true,
      autoPlayDuration : 3000,
      keyboardOnAlways : true,
      hidePrevious : false
    });
  });
</script>
