<div id="container">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>
<div class="container">
  <div style="text-align: center;">
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: "jpg", fallback: "no_image.jpg", class: "rounded-circle" %>
    <h3><b><%= @user.name %></b></h3>
      <% if @user.id == current_user.id && @user.name != "guestuser" %>
        <p><i class="fas fa-edit"></i><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
      <% end %>
      <p>
        follows
        <%= link_to @user.followings.count, user_followings_path(@user) %>
        followers
        <%= link_to @user.followers.count, user_followers_path(@user) %>
      </p>
      <p>
        <% if current_user != @user %>
          <%= link_to 'Chatする', chat_path(@user.id), class: "btn btn-primary" %>
        <% end %>
      </p>
  </div>
</div>
<!--画像スライドショー-->
<div class="container">
  <div style="text-align: center;">
    <%= render partial: 'photo_images/each', locals: {photo_images: @photo_images, all_ranks: @all_ranks} %>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    $("#theTarget").skippr({
      // スライドショーの変化 ("fade" or "slide")
      transition : 'slide',
      // 変化に係る時間(ミリ秒)
      speed : 1000,
      // easingの種類
      easing : 'easeOutQuart',
      // ナビゲーションの形("block" or "bubble")
      navType : 'block',
      // 子要素の種類('div' or 'img')
      childrenElementType : 'div',
      // ナビゲーション矢印の表示(trueで表示)
      arrows : true,
      // スライドショーの自動再生(falseで自動再生なし)
      autoPlay : true,
      // 自動再生時のスライド切替間隔(ミリ秒)
      autoPlayDuration : 3000,
      // キーボードの矢印キーによるスライド送りの設定(trueで有効)
      keyboardOnAlways : true,
      // 一枚目のスライド表示時に戻る矢印を表示するかどうか(falseで非表示)
      hidePrevious : false
    });
  });
</script>