<div class="main-visual">
</div>

<div class="container">
  <div style="text-align: center;">
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: "jpg", fallback: "no_image.jpg", class: "rounded-circle" %>
    <h3><b><%= @user.name %></b></h3>
      <% if @user.id == current_user.id %>
        <%#= render "follows/btn", user: @user %>
      <p><i class="fas fa-edit"></i><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
      <% end %>
      <p>
        follows
        <%= link_to @user.followings.count, user_followings_path(@user) %>
        followers
        <%= link_to @user.followers.count, user_followers_path(@user) %>
      </p>
  </div>
</div>

<div class="container">
  <div style="text-align: center;">
    <%= render partial: 'photo_images/each', locals: {photo_images: @photo_images, all_ranks: @all_ranks} %>
  </div>
</div>
