<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">問い合わせ確認画面</h5>
      <div class="form-body p-4">
        <p>名前：<%= @contact.name %></p>
        <p>e-mail：<%= @contact.email %></p>
        <p>電話番号：<%= @contact.phone_number %></p>
        <p>問い合わせ件名：<%= @contact.subject_i18n %></p>
        <p>メッセージ：<%= @contact.message %></p>
      <%= form_with model: @contact do |f| %>
        <%= f.hidden_field :name, value: @contact.name  %>
        <%= f.hidden_field :email, value: @contact.email  %>
        <%= f.hidden_field :phone_number, value: @contact.phone_number  %>
        <%= f.hidden_field :subject, value: @contact.subject  %>
        <%= f.hidden_field :message, value: @contact.message  %>
        <div><%= f.submit '送信', class: "btn btn-lg btn-block btn-info mt-4" %></div>
      <% end %>
      </div>
    </div>
  </div>
</div>