<% if @contact.errors.any? %>
  <div class="error_explanation">
    <h2><%= @contact.errors.count %>件のエラーが発生しました</h2>
    <ul>
      <% @contact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div style="text-align: left;">
    <%= form_with model: @contact, url: confirm_path, local: true, method: :get do |f| %>
      <div class="form-group">
        <%= f.label :name, 'お名前*' %>
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス*' %>
        <%= f.text_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :phone_number, '電話番号*' %>
        <%= f.text_field :phone_number, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :subject, 'お問い合わせ件名*' %>
       <%= f.select :subject, options_for_select_from_enum(Contact, :subject) %>
      </div>

      <div class="form-group">
        <%= f.label :message, 'メッセージ*' %>
        <%= f.text_area :message, size: '10x10', class: 'form-control' %>
      </div>

      <div>
        <%= f.submit '入力内容確認', class: "btn btn-lg btn-block btn-info mt-4" %>
      </div>
    <% end %>
  </div>
</div>