<div class="row">
  <%= form_with(model: @seminar, url: seminars_path, remote: true) do |f| %>

    <%= f.label :title, "内容"%>
    <%= f.text_field :title, class:'form-control mb-3', required: true %>

    <div class="form-inline text-left">
     <%= f.label :starts_at,"開始時刻", {class:'control-label'}%>
     <%= f.datetime_select :starts_at, {default: Date.today + 0.hours + 00.minutes, minute_step: 60}, class: 'form-control' %>
    </div>
     <br>
    <div class="form-inline text-left">
     <%= f.label :ends_at,"終了時刻", {class:'control-label'}%>
     <%= f.datetime_select :ends_at, {default: Date.today + 0.hours + 00.minutes, minute_step: 60}, class: 'form-control' %>
    </div>

    <%= f.submit "登録",   class: "btn btn-primary js-event-create-btn" %>
  <% end %>
</div>