<!DOCTYPE html>
<html>
  <head>
    <title>Photo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--jQuery追加-->
    <link rel="stylesheet" href="css/skippr.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <%= link_to "jop", root_path, class: "navbar-brand" %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                  <li>
                    <i class="fas fa-users"></i>
                    <%= link_to "ユーザー一覧", users_path, class: "navbar-brand" %>
                  </li>
                  <li>
                    <i class="fas fa-photo-video"></i>
                    <%= link_to "投稿一覧", photo_images_path, class: "navbar-brand" %>
                  </li>
                  <li>
                    <i class="fas fa-camera"></i>
                    <%= link_to '投稿フォーム',  new_photo_image_path, class: "navbar-brand" %>
                  </li>
                  <li>
                    <i class="fas fa-user-alt"></i>
                    <%= link_to "プロフィール", user_path(current_user.id), class: "navbar-brand" %>
                  </li>
                  <li>
                    <i class="fas fa-envelope"></i>
                    <%= link_to "問い合わせ",  new_contact_path, class: "navbar-brand" %>
                  </li>
                  <li>
                    <i class="fas fa-bell"></i>
                    <% if unchecked_notifications.any? %>
                     <%= link_to "お知らせ",notifications_path, class: "navbar-brand", style: "color:tomato;" %>
                    <% else %>
                     <%= link_to "お知らせ",notifications_path,  class: "navbar-brand"  %>
                    <% end %>
                  </li>
                  <li>
                    <i class="fas fa-running"></i>
                    <%= link_to "ログアウト", destroy_user_session_path, class: "navbar-brand", method: :delete %>
                  </li>
                <% else %>
                  <li>
                    <i class="fas fa-sign-in-alt"></i>
                    <%= link_to "新規登録", new_user_registration_path, class: "navbar-brand" %>
                  </li>
                  <li>
                    <i class="fas fa-sign-in-alt"></i>
                    <%= link_to "ログイン", new_user_session_path, class: "navbar-brand" %>
                  </li>
                <% end %>
              </ul>
            </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
    <p id="notice"><%= notice %></p>
    <%= yield %>
    </main>

     <footer class="fixed-bottom bg-white">
      <div class='container'>
        <div class="text-center">
          <!--<div class='mx-auto'>-->
            <!--<div class="social">-->
              <div>
                <i class="fas fa-camera-retro"></i>
              </div>
              <small>写真で繋がるSNS</small>
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </footer>
  </body>
</html>
